<div class="wrapper">
  <div class="img-wrapper">
    <a class="ig" href="#" target="_blank">@annushka.nails</a>
    <img class="main-img" src="assets/main.jpg" />
  </div>
  <div #myTitle class="title-wrapper">
    <p class="text-8xl font-bold title">{{ "main.title" | transloco }}</p>
    <p class="text-8xl font-bold title">{{ "main.subtitle" | transloco }}</p>
  </div>
  <p class="description">
    Делаю аккуратный и уникальный маникюр, придавая Вашим ручкам красивый и
    ухоженный вид
  </p>
  <button class="button" (click)="makeRequest()">Записаться</button>
</div>
