@import "../../core.scss";

:host {
  @include section-gap-bottom;

  position: relative;
  text-align: center;
  display: grid;
  place-content: center;
  z-index: -1;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  transform-style: inherit;
}

.title-wrapper,
.subtitle {
  transition: 1s all;
}

.title-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: $black;
  }
}

.title {
  @include regular-font;

  color: $white;
  padding: px-to-rem(20px) px-to-rem(30px);
  user-select: none;
  animation: text-anim 7.65s linear;
  animation-iteration-count: infinite;
}

.subtitle {
  @include regular-font;

  font-size: px-to-rem(46px);
  user-select: none;
  color: rgb(200, 208, 208);
}

:host,
:host::before {
  background: 50% 50% / cover;
}

:host::before {
  content: "";
  display: block;
  position: absolute;
  min-height: 100vh;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  // background-image: url("/assets/main_bg.jpg");
  // background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

@keyframes text-anim {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.035);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  :host {
    text-align: center;
    padding: 14vw 0 5vw;
  }

  .title {
    font-size: px-to-rem(34px);
    padding: px-to-rem(4px) px-to-rem(10px);
  }

  .subtitle {
    font-size: px-to-rem(24px);
  }
}
