@import "../../core.scss";

:host {
  @include section-gap-bottom;

  position: relative;
  text-align: center;
  display: grid;
  place-content: center;
  z-index: -1;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  transform-style: inherit;
}

p {
  margin: 0;
}

.title-wrapper {
  position: relative;
}

.wrapper {
  max-width: 90%;
  display: block;
  margin: 0 auto;
  margin-top: px-to-rem(120px);
}

.title,
.subtitle {
  @include regular-font;

  color: $white;
  padding: px-to-rem(20px) px-to-rem(30px);
  user-select: none;
  animation: text-anim 6s linear;
  animation-iteration-count: infinite;
  position: relative;
  text-align: left;
  top: px-to-rem(-90px);
  left: px-to-rem(-68px);
}

.description {
  @include regular-font;

  position: relative;
  color: $white;
  text-align: left;
  padding-left: px-to-rem(8px);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: px-to-rem(1px);
    height: 100%;
    background-color: $white;
  }
}

:host,
:host::before {
  background: 50% 50% / cover;
  background-color: $bg-color;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-wrapper {
  position: relative;
  max-width: 80%;

  .ig {
    @include thin-font;

    text-decoration: none;
    color: $white;
    position: absolute;
    left: 0;
    top: px-to-rem(-25px);
    font-size: px-to-rem(16px);
  }

  &::after {
    content: "🤍";
    position: absolute;
    right: px-to-rem(-22px);
    top: px-to-rem(-28px);
    font-size: px-to-rem(36px);
    z-index: 3;
  }

  .main-img {
    object-fit: contain;
  }
}

.button {
  @include btn;
}

@media (max-width: 1024px) {
  :host {
    text-align: center;
    padding: 14vw 0 5vw;
  }

  .title {
    font-size: px-to-rem(48px);
    padding: px-to-rem(4px) px-to-rem(10px);
  }
}
