@import "../../core.scss";

:host {
  position: relative;
  display: block;
  background-color: #fff;
  max-width: 95%;
  margin: 0 auto;
}

.component-container {
  @include container;

  display: grid;
  grid-template-columns: 1fr;
}

.title {
  @include medium-font;
  @include title;

  position: relative;
  margin-bottom: px-to-rem(40px);
  text-align: center;

  &::after,
  &::before {
    content: "";
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    height: px-to-rem(3px);
    width: px-to-rem(26px);
    display: block;
    background-color: $bg-color;
  }

  &::before {
    left: px-to-rem(-70px);
  }

  &::after {
    left: px-to-rem(-36px);
  }
}

.text {
  @include regular-font;

  color: #a1999a;
}

.image-wrapper {
  @include flex-center;
}

img {
  @include image-hover;
}

.content-wrapper {
  @include regular-font;

  font-size: px-to-rem(26px);
  text-align: center;
  padding: px-to-rem(100px) 0;
  line-height: px-to-rem(26px);
}

@media (max-width: 1024px) {
  .title {
    margin-bottom: px-to-rem(20px);
    margin-left: px-to-rem(52px);
    text-align: right;
    margin-bottom: 0;
  }
  .content-wrapper {
    @include regular-font;

    text-align: left;
    padding: px-to-rem(40px) 0;
  }
}
