@import "../../core.scss";

:host {
  @include container;

  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 0;
}

.list {
  @include flex-center;

  column-gap: px-to-rem(30px);
  padding: px-to-rem(20px) px-to-rem(500px);
}

.item {
  @include regular-font;
  @include text-hover;

  cursor: pointer;
  color: rgb(9, 9, 10);
}

@media (max-width: 1024px) {
  .list {
    column-gap: px-to-rem(10px);
    padding: 0;
    font-size: px-to-rem(16px);
  }
}
