<input #hiddenToggler id="toggle" type="checkbox" />
<label for="toggle" class="hamburger">
  <div class="top-bun"></div>
  <div class="meat"></div>
  <div class="bottom-bun"></div>
</label>
<ul class="list">
  <li class="item" (click)="scrollToSection('me')">about me</li>
  <li class="item" (click)="scrollToSection('examples')">works</li>
  <li class="item" (click)="scrollToSection('price')">price</li>
  <li class="item" (click)="scrollToSection('contacts')">contacts</li>
</ul>
<!-- <button class="language" (click)="changeLanguage()">
  {{ languageTranslateService.language }}
</button> -->
