<div class="wrapper">
  <h2 class="title">My portfolio</h2>
  <div class="examples">
    <div class="image-wrapper example_1">
      <img src="assets/examples/1.jpg" />
    </div>
    <div class="image-wrapper example_2">
      <img src="assets/examples/2.jpg" />
    </div>
    <div class="image-wrapper example_3">
      <img src="assets/examples/3.jpg" />
    </div>
    <div class="image-wrapper example_4">
      <img src="assets/examples/4.jpg" />
    </div>
    <div class="image-wrapper example_5">
      <img src="assets/examples/5.jpg" />
    </div>
    <div class="image-wrapper example_6">
      <img src="assets/examples/6.jpg" />
    </div>
  </div>
</div>
