@import "../../core.scss";

:host {
  display: block;
  position: relative;
  background-color: $beige;
}

.wrapper {
  @include section-gap;
  @include container;
}

.title {
  @include medium-font;
  @include title;

  padding-left: px-to-rem(50px);
}

.examples {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 4vw 15vw 8vw 10vw 19vw 3vw 4vw;
  gap: px-to-rem(10px) px-to-rem(10px);
  grid-auto-flow: row;
  grid-template-areas:
    ". example_1 ."
    "example_2 example_1 ."
    "example_2 example_1 example_5"
    "example_2 example_3 example_5"
    "example_4 example_3 example_6"
    "example_4 . example_6"
    ". . example_6";
}

.example_1 {
  grid-area: example_1;
}

.example_2 {
  grid-area: example_2;
}

.example_3 {
  grid-area: example_3;
}

.example_4 {
  grid-area: example_4;
}

.example_5 {
  grid-area: example_5;
}

.example_6 {
  grid-area: example_6;
}

.image-wrapper {
  display: block;
  height: 100%;
  width: 100%;
}

img {
  @include image-hover;
  @include image-fit;
}

img:fullscreen {
  object-fit: contain;
}
