@import "../../core.scss";

ul,
li {
  margin: 0;
  padding: 0;
}

footer {
  position: relative;
  padding: px-to-rem(35px) 0 px-to-rem(25px);
  color: $black;
}

.wrapper {
  @include container;
}

.title {
  @include medium-font;

  color: $main-btn-bg-color;
  text-align: center;
  font-size: px-to-rem(26px);
  line-height: 1.2;
  margin-bottom: px-to-rem(35px);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  @include regular-font;
  @include text-hover;

  color: $main-btn-bg-color;
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: flex-end;

  .svg {
    width: px-to-rem(80px);
  }
}
