<footer>
  <div class="wrapper">
    <h5 class="title">Contacts</h5>
    <div class="content">
      <ul>
        <li>
          <a
            class="text"
            href="https://www.instagram.com/annushkka.nails/"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ "footer.links.instagram" | transloco }}
          </a>
        </li>
        <li>
          <a
            class="text"
            href="https://web.telegram.org/k/#@annushka_nails_bot"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ "footer.links.telegram" | transloco }}
          </a>
        </li>
        <li>
          <a
            class="text"
            href="https://www.instagram.com/annushkka.nails/"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ "footer.links.whatsapp" | transloco }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
