<h2 class="title">{{ "certificates.title" | transloco }}</h2>

<div class="wrapper">
  <div class="content-wrapper">
    <p>{{ "certificates.paragraph.first" | transloco }}</p>
    <p>{{ "certificates.paragraph.second" | transloco }}</p>
  </div>

  <ngb-carousel
    class="slider"
    *ngIf="slides"
    [interval]="5000"
    [pauseOnHover]="false"
    [showNavigationArrows]="false"
    [showNavigationIndicators]="false"
  >
    <ng-container *ngFor="let slide of slides">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="slide" alt="Random first slide" />
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>

<div class="container-text">
  <div class="running-stroke">
    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>
  </div>
  <div class="running-stroke">
    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>

    <p>hygiene<span></span></p>
    <p>quality<span></span></p>
    <p>reliability<span></span></p>
    <p>competence<span></span></p>
  </div>
</div>
