@import "../../core.scss";

:host {
  @include container;
  @include section-gap;

  position: relative;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 px-to-rem(150px);
}

.content-wrapper {
  @include regular-font;

  display: grid;
  place-content: center;
  padding: px-to-rem(50px) 0;
}

.slider {
  @include image-hover;

  display: block;
  max-width: 68%;
  margin: 0 auto;
}

.picsum-img-wrapper {
  @include flex-width-center;

  height: px-to-rem(600px);
}

img {
  @include image-fit;
  @include image-hover;

  width: auto;
}

.title {
  @include medium-font;
  @include title;

  text-align: center;
  margin-bottom: px-to-rem(65px);
}

svg {
  position: absolute;
  top: -5%;
  width: 72vw;
  left: 19%;
  z-index: -11;
  bottom: 0%;
}

svg path {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-width: 0.4;
  stroke: $black;
  fill: none;
}

.container-text {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}

.running-stroke {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  animation: running-text 30s linear infinite;
  column-gap: px-to-rem(15px);

  p {
    display: inline-flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;

    font-size: px-to-rem(56px);
    color: $pink;
    -webkit-text-stroke: 1px $pink;
    -webkit-text-fill-color: transparent;
  }

  span {
    width: px-to-rem(46px);
    height: px-to-rem(8px);
    background-color: $white;
    display: block;
    border: 1px solid $pink;
    margin: 0 px-to-rem(20px);
  }
}

@keyframes running-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .slider {
    max-width: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .content-wrapper {
    grid-column: 1;
    grid-row: 2;
  }
}
