/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./app/core.scss";

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: $base-font-size;
}

ul,
li {
  margin: 0;
  padding: 0;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
